<div class="logo">
  <svg class="logo-img" viewBox="0 0 88 88" width="88" height="88" xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(1 0 0 1 44 44)">
      <g style="">
        <g transform="matrix(1 0 0 1 9.42 -17.78)">
          <path
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(177,145,245); fill-rule: nonzero; opacity: 1;"
            transform=" translate(-53.42, -26.22)"
            d="M 34.2083 11.4548 C 34.2083 8.75279 37.5004 7.42797 39.372 9.37684 L 72.6231 44 L 34.2083 44 L 34.2083 11.4548 Z"
            stroke-linecap="round"/>
        </g>
        <g transform="matrix(1 0 0 1 -14.59 -12.78)">
          <path
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(130,209,255); fill-rule: nonzero; opacity: 1;"
            transform=" translate(-29.41, -31.22)"
            d="M 15 21.4542 C 15 18.7522 18.2921 17.4274 20.1638 19.3762 L 43.8116 43.9999 L 15 43.9999 L 15 21.4542 Z"
            stroke-linecap="round"/>
        </g>
        <g transform="matrix(1 0 0 1 -9.79 17.78)">
          <path
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(21,171,255); fill-rule: nonzero; opacity: 1;"
            transform=" translate(-34.21, -61.78)"
            d="M 53.415 76.5452 C 53.415 79.2472 50.1229 80.572 48.2512 78.6232 L 15.0001 44 L 53.415 44 L 53.415 76.5452 Z"
            stroke-linecap="round"/>
        </g>
        <g transform="matrix(1 0 0 1 14.22 12.78)">
          <path
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(109,49,237); fill-rule: nonzero; opacity: 1;"
            transform=" translate(-58.22, -56.78)"
            d="M 72.6232 66.5458 C 72.6232 69.2478 69.3311 70.5726 67.4595 68.6238 L 43.8116 44.0001 L 72.6232 44.0001 L 72.6232 66.5458 Z"
            stroke-linecap="round"/>
        </g>
      </g>
    </g>
  </svg>
  <span class="logo-text">FamilyHealth</span>
</div>
