.header {
  font-family: Manrope;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-left {
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.header-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 14px 12px;
  border-radius: 4px;
}

.header-left .header-link.active {
  color: #6D31EDFF;  /* Highlight color */
  border-bottom: 4px solid #6D31EDFF;  /* Underline */
  font-weight: 700;
}

.header-right {
  display: flex;
  align-items: center;
}

.profile-icon {
  position: relative;
  cursor: pointer;
  padding-left: 20px;
}

.profile-icon img,
.profile-icon .initials {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
}

.profile-menu {
  position: absolute;
  right: 10px;
  top: 50px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 10;
}

.profile-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  white-space: nowrap;
}

.profile-menu a:hover {
  background-color: #f0f0f0;
}
