<div [class.collapsed]="isCollapsed" class="side-navbar">
  <app-logo/>
  <!--  <div class="icon-container burger-icon" (click)="toggle()">{{isCollapsed ? '▷' : '◁'}}</div>-->
  <div class="icon-container burger-icon" (click)="toggle()">
    <img *ngIf="!isCollapsed;" src="assets/images/collapse-left-nav.svg" alt="<"/>
    <img *ngIf="isCollapsed" src="assets/images/expand-right-nav.svg" alt=">"/>
  </div>

  <ul class="menu">
    <li [ngClass]="{'active': activeLink === 'Dashboard'}" (click)="setActiveLink('Dashboard')">
      <img class="icon-active" src="assets/images/dashboard-icon.svg" alt="Dashboard"/>
      <span class="menu-text">Dashboard</span>
    </li>
    <li [ngClass]="{'active': activeLink === 'Health Records'}" (click)="setActiveLink('Health Records')">
      <img class="icon-active" src="assets/images/health-records-icon.svg" alt="Health Records"/>
      <span class="menu-text">Health Records</span>
    </li>
    <li [ngClass]="{'active': activeLink === 'Medicines'}" (click)="setActiveLink('Medicines')">
      <img class="icon-active" src="assets/images/medicines-icon.svg" alt="Medicines"/>
      <span class="menu-text">Medicines</span>
    </li>
    <li [ngClass]="{'active': activeLink === 'Profiles'}" (click)="setActiveLink('Profiles')">
      <img class="icon-active" src="assets/images/profiles-icon.svg" alt="Profiles"/>
      <span class="menu-text">Profiles</span>
    </li>
    <li [ngClass]="{'active': activeLink === 'Settings'}" (click)="setActiveLink('Settings')">
      <img class="icon-active" src="assets/images/settings-icon.svg" alt="Settings"/>
      <span class="menu-text">Settings</span>
    </li>
  </ul>

</div>
